.controls-wrapper {
  width: 100%;
}

.carousel-wrapper {
  margin: 20px;
  margin-top: 60px;
  margin-left: 80px;
  margin-right: 120px;
  padding: 10px;
  width: 850px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: radial-gradient(38.2% 50% at 50% 50%, #2e3134 0%, #292b2e 100%);
  border: 2px solid #272829;
  box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
.title {
  color: #30fbef;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content {
  font-size: 1rem;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
}
.feature {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
}
.feature-desc {
  padding: 10px;
}
.learnmore {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #30fbef;
  margin-top: 10px;
  width: 125px;
  height: 40px;
  background: #282828;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}
.feature-img {
  width: 150px;
}
.heading {
  color: #30fbef;
  margin: 20px;
  font-size: 2rem;
}
